{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block body %}
{% spaceless %}
{% block topbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}" title="Torrent">Torrent</a>

            {{ knp_menu_render('SOTBCoreBundle:Builder:mainMenu', {'currentClass': 'active', 'ancestorClass': 'active'}) }}

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div class="pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('my_uploads') }}">My Uploads</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login / Create <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_registration_register') }}">Create account</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock topbar %}
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="full-search-bar">
                    <ul class="item-stream unstyled search-input-stream">
                        <li class="stream-item stream-header search-input-item">
                            <form class="form-inline search-form" action="{{ path('torrent_search') }}">
                                <input class="xlarge" id="artist_search" name="q" type="text" placeholder="Song Title, Artist Name, Movie Title..." autocomplete="off" value="">
                                <button class="btn btn-large btn-inverse" id="artist_submit" type="submit"><i class="icon-search icon-white"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">

        {% block flashes %}
        {{ session_flash() }}
        {% endblock flashes %}

        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">
        {% block footer %}
        <p></p>
        {% endblock footer %}
    </footer>
</div>
<!-- /container -->
{% endspaceless %}
{% endblock body %}