<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>{{ pagination.sortable('Seeders', 'seeders', {'defaultDirection': 'desc'})|raw }}</th>
        <th>{{ pagination.sortable('Leechers', 'leechers', {'defaultDirection': 'desc'})|raw }}</th>
        <th>{{ pagination.sortable('Downloaded', 'downloaded', {'defaultDirection': 'desc'})|raw }}</th>
        <th>Hash</th>
        <th>{{ pagination.sortable('Uploaded', 'created', {'defaultDirection': 'desc'})|raw }}</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    {% for torrent in pagination %}
    <tr>
        <td><a href="{{ path('torrent', {'slug': torrent.slug}) }}">{{ torrent.title }}</a></td>
        <td><span class="badge badge-success"><i class="icon-arrow-up icon-white"></i>{{ torrent.seeders }}</span></td>
        <td><span class="badge badge-warning"><i class="icon-arrow-down icon-white"></i>{{ torrent.leechers }}</span></td>
        <td><span class="badge badge-info"><i class="icon-ok icon-white"></i>{{ torrent.downloaded }}</span></td>
        <td>{{ torrent.hash }}</td>
        <td>{{ torrent.created | date }}</td>
        <td>
            <a href="{{ torrent.magnet }}"><i class="icon-magnet"></i> magnet</a>
            <br/>
            <a href="{{ path('torrent_download', {'slug':torrent.slug}) }}"><i class="icon-download-alt"></i> torrent</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="7"><i class="icon-info-sign"></i> There are no torrents.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>