{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span8 offset2">
        <div class="page-header">
            <h1>Request a Torrent</h1>
        </div>
        <p>Upload a torrent file from the regular Internet or provide a torrent hash (or magnet link) to request that it be made available over the darknet.</p>
        <form action="{{ path('torrent_upload') }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.hash) }}
            {{ form_row(form.filename) }}

            {{ form_row(form.categories) }}
            {{ form_rest(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary loading" data-loading-text="Submitting..." autocomplete="off">Submit Request</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
