{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="span6">
        <div class="page-header">
            <h1>{{ torrent.title }}</h1>
        </div>

        {{ torrent.description | nl2br }}

        <p>&nbsp;</p>

        <div class="well well-small">
            {{ torrent.comment }}
        </div>

        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': torrent.id} %}
    </div>
    <div class="span3">
        <div class="infoBox downloadBox">
            <p>
                <a href="{{ path('torrent_download', {'slug':torrent.slug}) }}" class="btn btn-primary btn-large"><i class="icon-download-alt icon-white"></i> Torrent</a>
            </p>

            <p>
                <a href="{{ torrent.magnet }}" class="btn btn-large"><i class="icon-magnet"></i> Magnet</a>
            </p>

            <form action="{{ path('torrent_vote', {'slug': torrent.slug}) }}" method="POST">
                <button type="submit" class="btn btn-large"><i class="icon-plus"></i> Request Torrent</button>
            </form>
        </div>
        <div class="infoBox statsBox">
            <span class="badge badge-success"><i class="icon-arrow-up icon-white"></i>{{ torrent.seeders }}</span> Seeders<br/>
            <span class="badge badge-warning"><i class="icon-arrow-down icon-white"></i>{{ torrent.leechers }}</span> Leechers <br/>
            <span class="badge badge-info"><i class="icon-ok icon-white"></i>{{ torrent.downloaded }}</span> Completed <br/>
            <span class="badge badge-info"><i class="icon-plus icon-white"></i>{{ torrent.requestCount }}</span> Requests <br/>
        </div>
        <div class="infoBox metaBox">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <th>Date</th>
                    <td>{{ torrent.creationDate | date }}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{ torrent.humanSize }}</td>
                </tr>
                <tr>
                    <th>Discuss</th>
                    <td>
                        <span class="badge badge-info">{{ comments }}</span> comments
                    </td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td>avi</td>
                </tr>
                <tr>
                    <th>Language</th>
                    <td>english</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="span3">
        <div class="well well-small">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Category</li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                    <li class="nav-header">Category</li>
                    <li><a href="">Category</a></li>
                    <li><a href="">Category</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
