{% extends 'SOTBCoreBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="navigation pull-right">
            {{ pagination.render()|raw }}
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>{{ pagination.sortable('Seeders', 'seeders')|raw }}</th>
        <th>{{ pagination.sortable('Leechers', 'leechers')|raw }}</th>
        <th>{{ pagination.sortable('Downloaded', 'downloaded')|raw }}</th>
        <th>Hash</th>
        <th>{{ pagination.sortable('Uploaded', 'created')|raw }}</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    {% for torrent in pagination %}
    <tr>
        <td><a href="{{ path('torrent', {'slug': torrent.slug}) }}">{{ torrent.title }}</a></td>
        <td>{{ torrent.seeders }}</td>
        <td>{{ torrent.leechers }}</td>
        <td>{{ torrent.downloaded }}</td>
        <td>{{ torrent.hash }}</td>
        <td>{{ torrent.created | date }}</td>
        <td>
            <a href="{{ torrent.magnet }}"><i class="icon-magnet"></i> magnet</a>
            <br/>
            <a href="{{ path('torrent_download', {'slug':torrent.slug}) }}"><i class="icon-download-alt"></i> torrent</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
